:root{
  color: black;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.sidePanel{
  background-image: url(./will-turner-GTPT_fNFQiE-unsplash.jpg);
  background-color: #cccccc;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 40vw;
  height: 100vh;
  justify-content: center;
}

.main {
  width:60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.everything {
  display:flex;
  width: 100vw;
  height: 100vh;
}

.logo{
  align-items: center;
}